.App {
  margin: 0 auto;
  width: 50%;
}

.App > h2 {
  align-items: center;
  background: lightgray;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 7% 0;
}

.App_ImageItem {
  display: block;
  width: 100%;
}

.App_AnchorItem {
  display: block;
}

.App_AnchorItem img {
  display: block;
  width: 100%;
}
