.Gallery {
  overflow: hidden;
}

.Gallery > ul {
  cursor: grab;
  margin: 0;
  padding: 0;
  position: relative;
}

.Gallery > ul:active {
  cursor: grabbing;
}

.Gallery > ul > li {
  list-style: none;
  position: absolute;
  width: 100%;
}
